<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>616485593405-63udstt05g3kq3j5gro3qlnnd1iksjtj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.616485593405-63udstt05g3kq3j5gro3qlnnd1iksjtj</string>
	<key>API_KEY</key>
	<string>AIzaSyDQiDvsGPPssPCOpiLKJEcBYhyQv4voA_g</string>
	<key>GCM_SENDER_ID</key>
	<string>616485593405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.elift.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-ef6df</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-ef6df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616485593405:ios:0a773b3d2f9067d0ac2554</string>
</dict>
</plist>